<!--The content below is only a placeholder and can be replaced.-->

<div class="app-container">
  <mat-toolbar color="primary" [class.mat-elevation-z5]="true">
    <mat-icon>school</mat-icon>
    <h1 class="app-name">{{ title | uppercase }}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <!--<mat-sidenav #snav  fixedTopGap="56">-->
    <!--<mat-nav-list>-->
    <!--<a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>-->
    <!--</mat-nav-list>-->
    <!--</mat-sidenav>-->

    <mat-sidenav-content>
      <app-quizzes></app-quizzes>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
